body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    cursor: url('cursor.png'),auto;
    background-size: 170%;
  }


.bselect {
    transition: transform .2s
}
.bselect:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
body {
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    cursor: url('img/cursor.png'),auto;
    background-size: 170%;
  }

.container {
    margin: 10%
  }
  
p {
    /* Center horizontally*/
    text-align: center;
  }

/*codigo robado a */

#scroll-container {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
  font-size: 20px;
  font-family: "Comic Sans MS"
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}